flows/Troubleshoot_My_Device.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_Activity_Rate_Experience</name>
        <label>Log Activity for Rating the experience</label>
        <locationX>878</locationX>
        <locationY>394</locationY>
        <actionName>Case.LogACall</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Close_Case</targetReference>
        </connector>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Case_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Customer has closed the case with experience rated as {!Rate_Experience_Percentage} %</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Case</name>
        <label>Navigate To Case</label>
        <locationX>842</locationX>
        <locationY>512</locationY>
        <actionName>troubleshoot:navigateToSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Case_Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_To_Expert</name>
        <label>Send Email To Expert</label>
        <locationX>323</locationX>
        <locationY>230</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Case_Confirmation_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>To troubleshoot customer issue, please join help room with url {!Video_Help_Room_URL} for helping the customer solve the issue on topic {!Topic}.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Expert_Email_Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Please join help room to help customer troubleshoot an issue on topic {!Topic}.</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <constants>
        <name>Issue_Not_Solved_Label</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </constants>
    <constants>
        <name>Issue_Solved_Label</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Expert_User_Exists_For_Task_Assignment</name>
        <label>Check Expert User Exists For Task Assignment</label>
        <locationX>334</locationX>
        <locationY>423</locationY>
        <defaultConnector>
            <targetReference>Create_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Expert User For Task Assignment</defaultConnectorLabel>
        <rules>
            <name>Expert_User_Exists_For_Task_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Expert_User_Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_for_Appointment_for_expert_user</targetReference>
            </connector>
            <label>Expert User Exists For Task Assignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Expert_User_Exists</name>
        <label>Verify Expert User Exists</label>
        <locationX>868</locationX>
        <locationY>151</locationY>
        <defaultConnector>
            <targetReference>Schedule_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Expert User Defined</defaultConnectorLabel>
        <rules>
            <name>Expert_User_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Expert_User_Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Address</targetReference>
            </connector>
            <label>Expert User Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_If_Issue_Solved</name>
        <label>Verify If Issue Solved?</label>
        <locationX>913</locationX>
        <locationY>298</locationY>
        <defaultConnector>
            <targetReference>Schedule_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Issue Not Solved</defaultConnectorLabel>
        <rules>
            <name>Issue_Solved</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>Is_Issue_Solved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Experience</targetReference>
            </connector>
            <label>Issue Solved</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Topic</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Topic</object>
        <outputAssignments>
            <assignToReference>Selected_Topic_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Selected_Topic_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <interviewLabel>Troubleshoot My Device {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Troubleshoot My Device</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates a case for troubleshooting the device</description>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>414</locationX>
        <locationY>55</locationY>
        <assignRecordIdToReference>Case_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Video_Help_Room_URL</targetReference>
        </connector>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Issue</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>651</locationX>
        <locationY>524</locationY>
        <connector>
            <targetReference>Navigate_to_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>A Field Visit has been scheduled for customer at {!Appointment_Data_Time}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Case_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_for_Appointment_for_expert_user</name>
        <label>Create Task for Appointment for expert user</label>
        <locationX>579</locationX>
        <locationY>366</locationY>
        <connector>
            <targetReference>Navigate_to_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Expert_User_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>A Field Visit has been scheduled for customer at {!Appointment_Data_Time}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Case_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Email_Address</name>
        <label>Get Email Address</label>
        <locationX>142</locationX>
        <locationY>192</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_To_Expert</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Expert_User_Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>Expert_Email_Address</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Knowledgeable_User</name>
        <label>Get Expert User</label>
        <locationX>727</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Expert_User_Exists</targetReference>
        </connector>
        <filters>
            <field>TopicId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_Topic_Id</elementReference>
            </value>
        </filters>
        <object>KnowledgeableUser</object>
        <outputAssignments>
            <assignToReference>Expert_User_Id</assignToReference>
            <field>UserId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Video_Help_Room_URL</name>
        <label>Get Video Help Room URL</label>
        <locationX>566</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Knowledgeable_User</targetReference>
        </connector>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_Topic_Name</elementReference>
            </value>
        </filters>
        <object>Video_Help_Room__mdt</object>
        <outputAssignments>
            <assignToReference>Video_Help_Room_URL</assignToReference>
            <field>Room_URL__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Close_Case</name>
        <label>Close Case</label>
        <locationX>1056</locationX>
        <locationY>367</locationY>
        <connector>
            <targetReference>Navigate_to_Case</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comments</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Case_Close_Confirmation</name>
        <label>Case Close Confirmation</label>
        <locationX>749</locationX>
        <locationY>206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Verify_If_Issue_Solved</targetReference>
        </connector>
        <fields>
            <name>Display_Text_Case_Close_Screen</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 22px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Case Close Confirmation&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>isIssueResolved</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <elementReference>Issue_Solved_Label</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <elementReference>Issue_Not_Solved_Label</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Is the issue you reported solved?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Is_Issue_Solved</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Is_Issue_Solved</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Case_Confirmation_Screen</name>
        <label>Join Video Help Room</label>
        <locationX>621</locationX>
        <locationY>219</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Case_Close_Confirmation</targetReference>
        </connector>
        <fields>
            <name>Display_Text_Case_Creation_Screen</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 22px;&quot;&gt;Join Video Help Room&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Creation_Details</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;A new case has been created for you! &lt;/span&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Case number: {!Case_Id}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Email has been sent to customer service representative and a specialist will soon be online to help troubleshoot your device in a video call.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;﻿Please click below to join the &lt;/span&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Video Help Room&lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;. Thanks!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>openVideoHelpRoom</name>
            <extensionName>troubleshoot:navigateToVideoHelpRoom</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>url</name>
                <value>
                    <elementReference>Video_Help_Room_URL</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Log_Experience</name>
        <label>Rate Experience</label>
        <locationX>739</locationX>
        <locationY>361</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Log_Activity_Rate_Experience</targetReference>
        </connector>
        <fields>
            <name>Rate_Your_Experience</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 22px;&quot;&gt;Rate Your Experience&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Text_Rate_Exp</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Your case has been closed! Please rate your experience for Case Number: {!Case_Id}﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Rate_Experience</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>How would you rate the service that you received? (0-100)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>step</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Rate_Experience_Percentage</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Comments</name>
            <dataType>String</dataType>
            <fieldText>Specify any additional comments about your experience</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Schedule_Appointment</name>
        <label>Schedule an appointment</label>
        <locationX>147</locationX>
        <locationY>343</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Expert_User_Exists_For_Task_Assignment</targetReference>
        </connector>
        <fields>
            <name>Schedule_visit</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Schedule a Visit&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Appointment_Data_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Appointment Data &amp; Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Troubleshoot_My_Device</name>
        <label>Troubleshoot My Device</label>
        <locationX>249</locationX>
        <locationY>51</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <fields>
            <name>Issue</name>
            <fieldText>What is the issue you are facing?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TopicPicklist</name>
            <choiceReferences>Topic</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Specify Device Name or Topic</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Troubleshoot_My_Device</startElementReference>
    <status>Active</status>
    <variables>
        <name>Case_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Expert_Email_Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Expert_User_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Is_Issue_Solved</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Knowledgeable_User</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>KnowledgeUserRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>KnowledgeableUser</objectType>
    </variables>
    <variables>
        <name>Rate_Experience_Percentage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Topic_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Topic_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Topic_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Video_Help_Room_URL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
